body {
  font-family: Hack, Arial;
  margin: auto;
  max-width: 1280px;
  #background-color:#111222;
  background-image:url("../gifs/spaceshort-blue.gif");
}

#book_page{
  float:left;
  font-family:Hack,Monospace;
  background-color:#5B8075;
  margin:5vh;
  margin-top:5%;
  width:90%;
  border:1px solid;
}

#page_1_img{
  float:left;
  display:flex;
  width:40%;
  margin:4vh;
  margin-top:2%;
  margin-bottom:2%;
}

#page_1_txt{
  font-size:18px;
  float:left;
  display:flex;
  width:50%;
  margin-top:2%;
  margin-bottom:2%;
}

#pre-bar{
  text-align:center;
}


.long-bottom-border{
  text-align:center;
  margin-bottom:2%;
}

.font-change{
  animation-duration: 30s;
  animation-name: change_color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.no-decorate{
  text-decoration:none;
}

.project-parapgraph{
  line-height:4vh;
}

.long-top-border{
  text-align:center;
  margin-top:2%;
}

.short-bottom-border{
  display:none;
  text-align:center;
  margin-bottom:2%;
}

.short-top-border{
  display:none;
  text-align:center;
  margin-top:2%;  
}
@keyframes change_color {
  0% {color: blue;}
  50% {color: black;}
  100% {color: purple;}
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack.ttf') format('truetype');
}

@media(max-width:1100px){
 
  #book_page{
    margin:2%;
    width:90%;
  }

  .descriptor{
    padding:3%;
  }

  .long-bottom-border{
    display:none;
  }

  .long-top-border{
    display:none;
  }

  .short-bottom-border{
    display:block!important;
  }

  .short-top-border{
    display:block!important;
  }
  
  #page_1_img{
    width:80%;
    float:left;
    margin-left:10%;
  }

  #page_1_txt {
    width:90%;
    font-size:2vh;
    margin:2%;
    margin-left:5%;
  }

}
  

@media(max-width:600px){
  #book_page {
    margin:2%;
  }
  #page_1_img{
    width:80%;
  }

  .short-bottom-border{
    display:block!important;
  }

  .short-top-border{
    display:block!important;
  }
 
  #page_1_txt {
    font-size:2vh;
    margin:2%;
    margin-left:5%;
  }


}
 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  .short-bottom-border{
    display:block!important;
  }

  .short-top-border{
    display:block!important;
  }
  
  #page_1_img{
    width:60%;
  }

  #page_1_txt {
    font-size:2vh;
    margin:2%;
  }
  
  #book_page{
    margin:2%;
    border:1px solid black;
  }
    
}
