body {
  font-family: Hack, Arial;
  max-width: 1280px;
  background-color:black;
}

a{
  text-decoration:bold;
}

a:visited{
  text-decoration:none;  
}

#samwise{
  height:30vh;
  padding-right:2vh;
  float:left;
}

#tree{
  height:20vh;
  padding-right:6vh;
  padding-bottom:6vh;
  margin-top:5vh;
  float:left;
}

.blog{
  font-size:3vh;
  line-height:4vh;
  font-family:Hack, Monospace;
  padding-left:10%;
  padding-right:10%;
  padding-top:5%;
  background-color:#111111;
  margin-left:2%;
  margin-right:2%;
  text-align:left;
  width:75%;
}
.film-list{
  line-height:1vh;
}
.font-change{
  animation-duration: 30s;
  animation-name: change_color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.indent{
  text-indent:0%;
}

.no-decorate{
  list-style-type:none;
  text-decoration:none;
}

.note{
  line-height:2vh;
  font-size:2vh;
}
.quote {
  font-size=6px;
}

@keyframes change_color {
  0% {color: #1fe432;}
  50% {color:#0096ff;}
  100% {color: #A9A9A9;}
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack.ttf') format('truetype');
}

@media(max-width:1100px) and (orientation:portrait) {
  .blog{
    margin:0%;
    width:95%;
    font-size:2vh;
  }

  .blog-title{
  font-size:1.5vh;
  margin:1%;
  line-height:2vh;
  }

  #tree{
    display:flex;
    float:right;
    height:0vh;
  }

  #poem1 {
    line-height:1vh;
    display:flex;
    float:right;
    font-size:.5vh;
  }
}

@media (max-width:800px){
  
  #tree{
  display:flex;
  float:right;
  height:0vh; 
  }

  .blog-title{
    margin-top:5vh;
    font-size:2vh;
    line-height:2vh;
  }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .blog{
    font-size:4vh;
  }

  .iphone-size{
    font-size:4vh;
  }

  #ansi-tree{
    font-size:8px;
  }
}

