body {
  font-family: Hack, Arial;
  margin: auto;
  max-width: 1280px;
  background-color:black;
}

#rss{
  width:8vh;
  margin-right:2vh;
}

#bumbus {
  width:15vh;
  float:left;
  margin:1vh;
  margin-right:2vh;
  border: 1px solid;
  border-radius:5%;
}

#chat-irc {
  width:10vh;
  float:left;
  margin:2vh;
}


#multi {
  width:15vh;
  float:left;
  margin:2vh;
  border:1px solid;
  border-radius:5%;
}

#shitty{
  font-family:Hack,Monospace;
  background-color:#111111;
  margin:auto;
  text-align:center;
  width:75%;
  border:1px solid;
  border-radius:2vh;
}

#logo{
  font-size: 1.5vh;
  padding-left:1%;
  padding-top:2%;
}

#pre-bar{
  text-align:center;
}


#webring {
  width:15vh;
  float:left;
  margin:2vh;
}


.blog{
  margin-left:5rem;
}

.descriptor{
  display:grid;
  grid-template-rows:auto;
  text-align:left;
  padding:1%;
}

.irc {
  border:1px solid white;
  float:left;
}

.news {
  margin-left:5%;
  float:center;
}

.navbar{
  width:5rem;
  height:100vh;
  position:fixed;
}

.no-decorate{
  text-decoration:none;
}

.project-parapgraph{
  line-height:4vh;
}

.font-change{
  animation-duration: 10s;
  animation-name: change_color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.grey{
  overflow-wrap:break-word;
}

@keyframes change_color {
  0% {color: #1fe432;}
  50% {color: blue;}
  100% {color: #A9A9A9;}
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack.ttf') format('truetype');
}

@media(max-width:1100px){
  #logo{
  margin-top:5%;
  margin-bottom:5%;
  font-size:.75vh;
  }
  
  #page{
    width:90%;
  }

  .descriptor{
    padding:3%;
  }

  .grey{
  font-size:1.1vh;}
  
  .lamp{
    width:10vh;
  }

}


  

@media(max-width:600px){
  #logo{
  font-size:.5vh;
  }
}
 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  #page{
    border:1px solid black;
  }
    
  .descriptor{
    font-size:3vh;
  }
}
